<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    
    
    <main>
        <div class="jumbotron"></div>
        <h1>Sobre mim</h1>
        <p>Oi eu sou Richard Orlandini aprendiz de programação</p>
    </main>

    <%- include('../partials/footer'); %>



</body>

</html>