<!DOCTYPE html>

    <%- include('../partials/head'); %>

<body class="container">

    <%- include(../partials/'header', {pagina: 'Home'}); %>

    <main class="jumbotron">
        <div>
            <h1>Node com EJS</h1>
            <p>Vamos aprenser a trabalhar com arquivos EJS</p>
        </div>
        <ul>
            <li>
                <strong>D</strong> Algo com d
            </li>
            <li>
                <strong>M</strong> Algo com m
            </li>
            <li>
                <strong>A</strong> Algo com a
            </li>

        </ul>
    </main>

    <%- include('../partials/footer'); %>
  
</body>
</html>